
/*背景圖設定*/
.bgimg,#bgimg{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 105%;
	width:105%;
	position:fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	z-index: -100;
	overflow: hidden;
}

/*body區域設定*/
body,html{
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
}

/*header settings*/
header{
	z-index: 4;
}

/*------topic section------*/
/*topic section container*/
.htitle{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-color:#f4f4f4;
	width: 100%;
}

/*1號標題通用設定*/
h1{
	padding: 30px 0px;
	margin:0;
	min-width: 1em;
	/*text-align: center;*/
	letter-spacing: 10px;
	color:black;
}

/*字元強調設定*/
em{
	font-weight: bolder;
	font-style: normal;
}

/*brand logo*/
#logo{
	width:55px;
	vertical-align: middle;
	margin-top:-0.5%;
	margin-right: -5%;	
}

/*------nav bar section------*/

/*導航列*/
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #333;
	border-bottom: #0392cf 10px solid;
	width: 100%;
	height: 70px;
	z-index: 10;
}

/*偽元素:導航列下的藍色引導條*/
nav::after{
	content: "";
	border-style: solid;
	border-color: transparent transparent #0392cf transparent; 
	border-width: 10px;
	position: relative;
	top:35%;
	visibility: hidden;
}


/*選單*/
.container{
	display: flex;
	float:left;
	padding:0;
	width:100%;
}


.navcon{
	flex-wrap:nowrap;
	text-align: center;
	width:500px;
	
}




.navcon>ul{
	display: flex;
}

/*選項*/
.navcon>ul>li{
	list-style: none;
	letter-spacing: 4px;
	justify-content: center;
	position: relative;
}

/*選項的超連結*/
.navcon>ul>li>a{
	text-decoration: none;
	color: white;
	display: block;
	vertical-align: middle;
	padding:10px 20px;
	flex:1;

}

/*下拉方塊*/
.navcon>ul>li>ul{
	position:absolute;
	float: left;
	display: none;
	background-color: #333;
	position: absolute;
	padding-left:0;

}

/*選單展開特效*/
.navcon>ul>li:hover ul{
	z-index: 10;
	display: block;
}

/*選單內選項設定*/
.navcon>ul>li>ul>li{
	list-style: none;
	width: 160px;
	text-align: left;
}

/*選單內選項超連結設定*/
.navcon>ul>li>ul>li>a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px 20px;
	
}

/*選單內選項超連結標示*/
.navcon>ul>li>ul>li>a:hover{
	background-color: #444;
}